{% extends 'posts/base.html' %}
{% block titulo %}Blognotes{% endblock %}

{% block conteudo %}
{% include 'posts/partials/abas_nav.html' %}

{% if aba == 'perfil' %}
    {% include 'posts/partials/perfil/card_perfil.html' %}

{% elif aba == 'notes_privados' %}
    <p class="text-gray-500 -mt-4 mb-6 text-sm">📓 Guarde desde seus lembretes, ideias e rascunhos aqui. Ninguém vai ler.</p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% include 'posts/partials/notes/card_note.html' %}
    </div>

{% elif aba == 'feed' %}
    {% include 'posts/partials/feed/composer_bar.html' %}
    {% include 'posts/partials/feed/card_feed.html' %}

{% elif aba == 'campo' %}
    {% include 'posts/partials/campo/grid_campo.html' %}

{% endif %}

{% include 'posts/partials/shared/modal_perfil_externo.html' %}
{% endblock %}